/* 1. CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
   font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #111;
  background-color: #fff;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c7c7c7 transparent;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

