#main {

    display: block;
    background: #ece8e2;




    .main__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 0;


        .main__title {
            font-size: 22px;
            color: hsl(0 0% 43.5%);
        }


        .main__box {

            width: 788px;

            padding: 50px;
            background: #fff;

            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: center;

            &.--wide {
                width: 100%;
            }


        }
    }


    // --visual S
    .--visual {

        .main__box {
            overflow: hidden;

            .box__txt {
                z-index: 2; 
                overflow: hidden;

                span {

                    display: block;
                    font-size: 55px;
                    line-height: 1.2;

                    
                    opacity: 0;
                    transform: translateY(32px);

                    animation: textUp 1.1s cubic-bezier(0.22, 1, 0.36, 1) forwards;

                    will-change: transform, opacity;

                    overflow: hidden;

                }

                &.--left {
                    margin-left: 50px;
                }

                &:nth-of-type(1) span { animation-delay: 0.1s; }
                &:nth-of-type(2) span { animation-delay: 0.2s; }
                &:nth-of-type(3) span { animation-delay: 0.3s; }
                &:nth-of-type(4) span { animation-delay: 0.4s; }
                &:nth-of-type(5) span { animation-delay: 0.5s; }
                &:nth-of-type(6) span { animation-delay: 0.6s; }
                &:nth-of-type(7) span { animation-delay: 0.7s; }

            }

            .box__circle {
                height: 100%;
                aspect-ratio: 1 / 1; 
                background: var(--yellow);

                border-radius: 50%;

                position: absolute;
                right: 0;
                top: 50%;


                transform: translateY(-50%) scale(0);
                transform-origin: center;

                z-index: 1;
                opacity: 0;

                animation: circleGrow 1.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
     
            }
            
        }

    }
    // --visual E



    // --projects S
    .--projects {
        padding-top: 0;

        flex-direction: column;
        align-items: center;
        
        .projects__letter {
            max-width: 1800px;
            width: 100%;

            position: sticky;
            left: 0;
            top: 0;

            .swiper-wrapper {
                transition-timing-function: linear !important;
            }

            .letter__swiper {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;

                font-size: 140px;

                .swiper-slide {
                    width: 10em;
                    line-height: 1.1;
                }


                &.--02 {

                    .swiper-slide {

                        color: transparent;
                        -webkit-text-stroke: 1.5px rgba(0,0,0,0.25);
                        text-transform: uppercase;
                        transition: color .3s ease;

                        &:hover {
                            color: #a6814c;
                            -webkit-text-stroke: 1.5px #a6814c;
                        }

                    }

                }

            }

        }

        .main__container {
            width: 1000px;

            .main__title {
                padding-bottom: .5em;
            }

            .main__box {
                padding: 0;
                background: transparent;
                position: relative;


                &:nth-child(odd) {
                    margin-inline-start: auto;
                }

                &:not(:last-child) {
                    margin-bottom: 180px;
                }

          

                .box__top {
                    padding-bottom: .3em;
                    opacity: .3;
                }

                .box__bottom {
                    display: flex;
                    justify-content: space-between;

                    font-size: 22px;
                    padding-top: .6em;
                }

                .box__noti {
                    font-size: 14px;
                    line-height: 1.3;
                    text-align: right;

                    padding-top: .2em;

                    opacity: .2;
                    
                }

                /*
                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    backdrop-filter: blur(12px);
                    -webkit-backdrop-filter: blur(12px);
                }
                */

                &.--03 {
                    width: auto;

                    .box__img {
                        display: flex;
                        flex-wrap: wrap;
                        gap: .3em;          // margin 대신 gap 추천

               
                        
                        .img__item {
                            flex: 1;          // ✅ flex item 너비 안정화
                            height: 50vh;
                            min-height: 0;    // ✅ flex 내부 스크롤 필수템
                            overflow-y: auto;
                            overflow-x: hidden;
                            -webkit-overflow-scrolling: touch;
                            cursor: ns-resize;

                            img {
                                width: 100%;
                                display: block;   // ✅ 이미지 아래 여백/라인 이슈 방지
                                height: auto;     // ✅ 절대 100%/cover면 안 됨
                            }


                        }

                        .img__txt {
                            width: 100%;
                            font-size: 12px;
                            opacity: .3;
                        }

                    }

                }




            }

            

        }

    }
    // --projects E


    // --about S
    .--about {
        padding-top: 200px;

        .about__title {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;


            position: sticky;
            left: 0;
            top: -30px;

            z-index: 1;


            background: #ece8e2;

            h2 {
                font-size: 130px;
                font-stretch: extra-expanded;
                white-space: nowrap;
                line-height: 1;
                transform: scaleY(2);
                padding-top: .3em;

                background: #ece8e2;

            }

            p {
                text-transform: uppercase;
                letter-spacing: .2em;

                opacity: .6;
            }

        }

        .about__txt {
            padding-top: 10em;

            .txt__container {

                &.--01 {
                    font-size: 22px;
                }
                &.--02 {
                    line-height: 1.8;
                    padding-top: .8em;
                    opacity: .6;
                }


                &.--list {
                    width: 1000px;
                    display: flex;
                    flex-wrap: wrap;

                    padding-top: 2em;

                    & > li {
                        width: 33.33%;
                        padding-top: 3em;

                        dl {

                            dt {
                                font-size: 22px;
                                font-weight: 500;
                                padding-bottom: .3em;

                                opacity: .8;
                            }

                            dd {
                                opacity: .6;

                                display: flex;
                                align-items: center;

                                &::before {
                                    content: '';
                                    width: .3em;
                                    height: .3em;

                                    margin-right: .3em;

                                    border-radius: 50%;
                                    background: #a6814c;

                                    display: block;
                                }

                            }


                        }

                    }

                }

            }

        }

    }
    // --about E

    // --work S
    .--work {

        h2 {
            position: sticky;
            left: 0;
            top: 2em;
            font-size: 18px;
            opacity: .6;

            display: flex;
            align-items: center;

            &:before {
                content: '';
                width: .3em;
                height: .3em;
                border-radius: 50%;
                background: #a6814c;
                display: block;

                margin-right: .3em;
            }

        }

        .work__item {

            .item__box {
                padding: 2em 0;

                &:not(:last-child) {

                    border-bottom: 1px solid rgba(0,0,0,0.2);
                }

                .box__title {
                    font-size: 24px;
                    display: block;

                    padding-bottom: .3em;
                }

                .box__txt {
                    opacity: .6;
                }

            }

        }


    }
    // --work E

    // --resume S
    .--resume {

        .box__ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            & > li {
                padding-bottom: 50px;

                &:nth-of-type(1) {
                    width: 55%;
                }

                &:nth-of-type(2) {
                    width: 36%;
                }

                &.--wide {
                    width: 100%;
                }

                & > strong {
                    font-size: 18px;

                    display: block;
                    padding-bottom: .4em;
                }

            

                .ul__img {
                    display: flex;

                    li {
                        width: 6%;

                        &:not(:last-child) {
                            margin-right: 20px;
                        }

                        img {
                            width: 100%;
                        }
                    }

                }

            }

        }

    }
    // --resume E


    // --contact S
    .--contact {
        padding: 70px 0 30px;


        .main__container {

            width: 788px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;


            & > *:not(:last-child) {
                width: 50%;
            }

            h2 {
                font-size: 50px;
            }

            ul {
                line-height: 1.9;

            } 

            .contact__copy {
                width: 100%;
                opacity: .5;

                padding-top: 7em;
            }


        }

     
    }
    // --contact E

}


// keyframesf
@keyframes circleGrow {
  0% {
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
}


@keyframes textUp {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



// 1024px media
@media(max-width: 1024px) {



    #main .main__wrapper .main__box {
        width: 73%;
    }

    #main .--visual .main__container {
        width: 100%;
    }

    #main .--visual .main__box {
        width: 90%!important;
        margin: 0 auto;
    }

    #main .--visual .main__box .box__txt span {
        font-size: clamp(35px, 6.5vw, 55px);
    }

    #main .--projects .main__container {
        width: 90%;
    }

    #main .--about .about__txt .txt__container.--list {
        width: 90%;
        margin: 0 auto;
    }

    #main .--resume .main__container {
        width: 90%;
        margin: 0 auto;
    }

    #main .--resume .box__ul {
        display: block;
    }

    #main .--resume .box__ul > li {
        width: 100%!important;
    }

    #main .--resume .main__container .main__box {
        width: 100%;
    }

    #main .--contact .main__container {
        width: 90%;
    }

}

// 900px media
@media(max-width: 900px) {

    #main .main__wrapper .main__box {
        width: 100%;
    }


    #main .--projects .projects__letter .letter__swiper {
        font-size: clamp(35px, 12vw, 140px);
    }

    #main .--about .about__title h2 {
        font-size: clamp(35px, 14vw, 122px);
    }

    #main .--about .about__txt .txt__container.--list > li {
        width: 50%;
    }

}


// 768px
@media(max-width: 768px) {



    #main .main__wrapper .main__title {
        font-size: clamp(18px, 3vw, 20px);
    }


    #main .--projects .main__container .main__box.--03 .box__img .img__item {
        height: 40vh;
    }

    #main .--about .about__txt .txt__container.--list > li {
        width: 100%;
    }

    #main .--projects .main__container .main__box .box__bottom {
        font-size: clamp(18px, 3vw, 22px);

    }

    #main .--about .about__txt .txt__container.--01 {
        font-size: clamp(20px, 3.4vw, 22px);

    }

    #main .--resume .box__ul > li .ul__img {
        flex-wrap: wrap;
    }

    #main .--resume .box__ul > li .ul__img li {
        width: 10%;

        margin-bottom: 1em;
    }

    #main .--contact .main__container {
        display: block;
    }

    #main .--contact .main__container h2 {
        padding-bottom :.3em;
    }

    #main .--contact .main__container > *:not(:last-child) {
        width: 100%;
    }
    
}


// 640px
@media(max-width: 640px) {

    #main .--work .main__container {
        padding: 0 1em;
    }

    #main .main__wrapper .main__box {
        padding: 6vw;
    }

    #main .--visual .main__box .box__txt.--left {
        margin-left: 5vw;
    }

    #main .--about {
        padding-top: 100px;
    }

    #main .--about .about__title {
        top: -50px;
    }

    #main .--about .about__txt {
        padding: 10em 1em 0;
        word-break: keep-all;
    }

    #main .--work .work__item .item__box .box__txt {
        word-break: keep-all;
    }

}
